// bower:scss
// endbower

// Importing of Font-Awesome library for icons
$fa-font-path: "./fonts";
@import '../../bower_components/font-awesome/scss/font-awesome.scss';

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  background-color: #ffffff;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSczMDAnIGhlaWdodD0nMzAwJyB2aWV3Qm94PScwIDAgMzAwIDMwMCc+Cgk8ZGVmcz4KCQk8cGF0dGVybiBpZD0nYmx1ZXN0cmlwZScgcGF0dGVyblVuaXRzPSd1c2VyU3BhY2VPblVzZScgeD0nMCcgeT0nMCcgd2lkdGg9JzIwJyBoZWlnaHQ9JzIwJyB2aWV3Qm94PScwIDAgNDAgNDAnID4KCQk8cmVjdCB3aWR0aD0nMTEwJScgaGVpZ2h0PScxMTAlJyBmaWxsPScjZmZmZmZmJy8+CgkJCTxwYXRoIGQ9J00xLDFoNDB2NDBoLTQwdi00MCcgZmlsbC1vcGFjaXR5PScwJyBzdHJva2Utd2lkdGg9JzEnIHN0cm9rZS1kYXNoYXJyYXk9JzAsMSwxJyBzdHJva2U9JyNjY2NjY2MnLz4KCQk8L3BhdHRlcm4+IAoJCTxmaWx0ZXIgaWQ9J2Z1enonIHg9JzAnIHk9JzAnPgoJCQk8ZmVUdXJidWxlbmNlIHR5cGU9J3R1cmJ1bGVuY2UnIHJlc3VsdD0ndCcgYmFzZUZyZXF1ZW5jeT0nLjIgLjMnIG51bU9jdGF2ZXM9JzUnIHN0aXRjaFRpbGVzPSdzdGl0Y2gnLz4KCQkJPGZlQ29sb3JNYXRyaXggdHlwZT0nc2F0dXJhdGUnIGluPSd0JyB2YWx1ZXM9JzAnLz4KCQk8L2ZpbHRlcj4KCTwvZGVmcz4KCTxyZWN0IHdpZHRoPScxMDAlJyBoZWlnaHQ9JzEwMCUnIGZpbGw9J3VybCgjYmx1ZXN0cmlwZSknLz4KPHJlY3Qgd2lkdGg9JzEwMCUnIGhlaWdodD0nMTAwJScgZmlsdGVyPSd1cmwoI2Z1enopJyBvcGFjaXR5PScwLjEnLz4KPC9zdmc+Cg==');
}

.title {
  margin: 1em 0 0.5em 0;
  color: #343434;
  font-weight: bold;
  font-family: 'Ultra', sans-serif;
  font-size: 43px;
  line-height: 42px;
  text-transform: uppercase;
  text-shadow: 0 2px white, 0 3px #777;
  text-align: center;
  margin-bottom: 40px;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.row {
  max-width: 80rem;
}

.row.display {
  font-size: 11px;
  margin-bottom: 10px;
  border: solid 1px #c6c6c6;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding: 20px;
}

#container {
  padding-top: 30px;
  padding-bottom: 30px;
  min-height: 100px;
  background-color: rgba(255, 229, 182, 0.34);
  border: 2px dashed rgb(255, 201, 102);

  &.droppable-hover {
    // ATTENTION!!!: Border width has to be the same as the row for the
    // calculation of the position
    border: 2px dashed #ff6600;

    &.hover-position-left {
      border-left: 2px solid #ff6600;
    }
    &.hover-position-right {
      border-right: 2px solid #ff6600;
    }
    &.hover-position-above {
      border-top: 2px solid #ff6600;
    }
    &.hover-position-under {
      border-bottom: 2px solid #ff6600;
    }
  }

  .columns {
    border: 2px dashed rgba(194, 21, 113, 0.34);
    line-height: 3rem;
    padding: 15px;
    min-height: 50px;
    background-color: #FDCBBF;

    &:hover {
      border: 2px dashed rgba(194, 21, 113, 0.76);
    }
  }
}

#container .row {
  background-color: rgb(189, 207, 255);
  box-sizing: border-box;
  position: relative;

  font-size: 11px;
  margin-bottom: 10px;
  border: 2px solid rgba(31, 73, 125, 0.52);
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding: 20px;

  &:hover {
    border: 2px solid rgb(31, 73, 125);
  }
}

.helper {
  width: 1px;
  border: 1px dotted #1f497d;
  height: 100%;
  display: block;
  position: absolute;
}

#container .row, #container .columns {
  &.droppable-hover {
    // ATTENTION!!!: Border width has to be the same as the row for the
    // calculation of the position
    border: 2px dashed black;

    &.hover-position-left {
      border-left: 2px solid red;
    }
    &.hover-position-right {
      border-right: 2px solid red;
    }
    &.hover-position-above {
      border-top: 2px solid red;
    }
    &.hover-position-under {
      border-bottom: 2px solid red;
    }
  }

  .resize-handler {
    position: absolute;
    top: 35%;
    cursor: pointer;
    font-weight: bold;
    font-size: medium;
    visibility: hidden;

    &.resize-handler-active {
      color: red;
      visibility: visible;
      display: block;
    }

    &.left-icon-resize {
      left: 0;
    }

    &.right-icon-resize {
      right: 0;
    }
  }
  &:hover > .resize-handler {
    visibility: visible;
  }

  .drag-handle {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    display: inline-block;
    padding: 2px 4px;
    font-weight: bold;
    line-height: 14px;
    color: black;
    vertical-align: baseline;
    white-space: nowrap;
    visibility: hidden;

    &.drag-handle-draggable {
      right: 50%;
      top: -0.5rem;
      padding: 2px 20px;
      background-color: aliceblue;
      border: 1px solid black;
    }
  }

  &:hover > .drag-handle {
    visibility: visible;
  }
}

.drag-placeholder {
  border: 2px dashed black;
  margin-top: 10px;
  margin-bottom: 10px;
}

.component-drag-helper {
  border: 2px solid black;
  width: 30px;
  height: 30px;
  background-color: #c3d6f7;
}

.trash {
  min-height: 100px;

  &.trash-hover {
    .fa-trash {
      opacity: 1;
    }
  }

  &.trash-active {
    background-color: #EDECEC;
  }

  .fa-trash {
    font-size: 60px;
    padding: 15px 45px;
    opacity: 0.3;
  }
}

.component .columns {
  padding: 20px;
}

